name: CI/CD Docker Deploy

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: Build Docker image
      run: docker build -t devops-web:v1 .

    - name: Copy code to VM via SCP
      uses: appleboy/scp-action@v0.1.5
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.VM_KEY }}
        source: "./*"
        target: "~/devops-app"

    - name: SSH & Restart container
      uses: appleboy/ssh-action@v0.1.5
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.VM_KEY }}
        script: |
          docker stop web-v1 || true
          docker rm web-v1 || true
          docker build -t devops-web:v1 ~/devops-app
          docker run -d -p 8081:80 --name web-v1 devops-web:v1
